<footer class="footer">
  <div class="page-footer">
    <div class="container footer-container">
      <div class="logo-container">
          <a class="footer-logotype" href="index.html"
          >drinkify</a>
          <svg class="logo-icon" width="21" height="18">
              <use href="/img/icons.svg#icon-cocktail"></use>
          </svg>
      </div>
      <div class="social-container">
        <p class="social-text">We in social</p>
        <ul class="social-icon-list list">
          <li class="social-list-item">
            <a class="social-list-link" href="https://www.facebook.com/goiTclub/" target="_blank" rel="noreferrer noopener">
              <svg class="social-item-icon">
                <use href="/img/icons.svg#icon-facebook-f"></use>
              </svg>
            </a>
          </li>
          <li class="social-list-item">
            <a class="social-list-link" href="https://www.instagram.com/goitclub/" target="_blank" rel="noreferrer noopener">
              <svg class="social-item-icon" width="32" height="32">
                <use href="/img/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="social-list-item">
            <a class="social-list-link" href="https://www.youtube.com/c/GoiT" target="_blank" rel="noreferrer noopener">
              <svg class="social-item-icon" width="32" height="32">
                <use href="/img/icons.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>  
</footer>
