 <!--1 секция Герой-->
 <section class="hero-section section">
    <div class="container hero-container">
      <div class="hero-first">
      <h1 class="main-title">
        A party without <span class="hero-cocktails">cocktails</span><br> is not like a party
      </h1>
      <p class="hero-p">From classic sips to exotic mixes, we're your key to becoming a cocktail wizard!</p>
      <button class="button-on-hero" type="button">View cocktails</button>
     </div>
      <div class="picture-hero">
		<img class="hero-img-elements" src="/img/hero/elements.svg">
        <div class="rectangle">
			<img class="hero-img-girl" src="/img/hero/girl1x-min.png">
       
		</div>
      <p class="hero-p-under-picture">Search your favorite cocktail by ABC </p>
       </div> 
       
  </div> 
  </section> 