<section class="interactive-section">
  <div class="container">
    <div class="container-slimselect">
      <select id="mySelect"></select>
    </div>

    <div class="container-letters-numbers">
      <ul class="list-letters-numders js-list-let-num"></ul>
    </div>

    <form class="search-form js-form" id="#search-form">
      <button type="submit" class="btn-hero-serch">
        <svg class="search-icon" width="16" height="16">
          <use href="/img/icons.svg#icon-search"></use>
        </svg>
      </button>
      <input
        class="input-hero-search"
        type="text"
        name="user-search-query"
        autocomplete="off"
        placeholder="Search"
      />
    </form>
  </div>
</section>
