<div class="mobile-menu js-menu-container is-hidden">
  <div class="container">
    <div class="mobile-menu-container">
      <a class="logotype-menu link" href="index.html"
        >drinkify
        <svg class="logo-icon" width="21" height="18">
          <use href="/img/icons.svg#icon-cocktail"></use>
        </svg>
      </a>
      <div class="switch-btn-container">
        <label class="switch-desc-mobile">
          <input
            type="checkbox"
            class="input-dark-theme-mobile checkbox-input is-hidden"
            aria-label="Change theme"
          />
          <span class="slider-desc round"></span>
        </label>
        <button type="button" class="mobile-menu-close-btn js-close-menu">
          <svg class="close-mob-menu-icon">
            <use href="/img/icons.svg#icon-close"></use>
          </svg>
        </button>
      </div>
    </div>
    <div class="favorite-mob-menu">
      <ul class="mobile-menu-list list">
        <li class="mobile-menu-item">
          <a class="mobile-menu-link" href="index.html"
            ><p class="mob-menu-text">Home</p></a
          >
        </li>
        <li class="mobile-menu-item sub sub-js">
          <button type="button" class="btn-opn-sub-menu js-btn-sub-menu">
            Favorite<svg class="opn-sub-icon" width="24" height="24">
              <use href="/img/icons.svg#icon-chevron-down"></use>
            </svg>
          </button>
        </li>
      </ul>
      <ul class="mobile-menu-sub-list sub-menu">
        <li class="mobile-menu-sub-item">
          <a
            class="mobile-menu-sub-link"
            href="favorite-cocktails.html"
         
            >Favorite cocktails</a
          >
        </li>
        <li class="mobile-menu-sub-item">
          <a
            class="mobile-menu-sub-link link"
            href="favorite-ingredients.html"
          
            >Favorite ingredients</a
          >
        </li>
      </ul>
    </div>
  </div>
  <div class="star-icon-container">
    <svg class="star-icon-planshet" width="391" height="391">
      <use href="/img/icons.svg#icon-star"></use>
    </svg>
  </div>
</div>
