:root {
  --color-violet: #7e8fdd;
  --color-violet-darck: #6e7fcf;
  --color-blue: #9cdfdf;
  --color-light-theme-black: #242424;
  --color-dark-theme-black: #1a1a1a;
  --color-white: #fdfdff;
  --color-darck-white: #f8f9ff;
  --font-family: 'Poppins';
  --logo-font-wight: 600;
  --logo-font-size: 22px;
  --logo-Line-height: 1.1;
  --logo-letter-spacing: -0.01em;
  --mobile-logo-font-size: 16px;
  --mobile-logo-line-height: 1.13;
  --button-font-size: 18px;
  --button-font-weight: 600;
  --button-line-height: 1.33;
  --button-letter-spacing: 0.02em;
  --mobile-button-font-size: 14px;
  --mobile-button-font-weight: 600;
  --mobile-button-line-height: 1.4;
  --mobile-button-letter-spacing: 0.02em;
  --drop-down-font-size: 14px;
  --drop-down-font-weight: 400;
  --drop-down-line-height: 1.3;
  --drop-down-letter-spacing: 0.02em;
   --hero-titel-font-size: 64px;
  --hero-font-weight: 400;
  --hero-titel-line-height: 1.1;
  --hero-letter-spacing: 0em;
  --hero-titel-span-font-style: italic;
 --tablet-hero-titel-font-size: 44px;
--mobile-hero-titel-font-size: 32px;
 --mobile-hero-titel-line-height:1.19;
  --hero-text-font-size: 20px;
 --hero-text-line-height: 1.3;
 --tablet-hero-text-font-size: 16px;
 --tablet-hero-text-line-height:1.5;
 --mobile-hero-text-font-size: 14px;
  --mobile-hero-text-line-height:1.43;
  --hero-caption-font-size: 18px;
  --hero-caption-line-height: 1.33;
  --hero-caption-letter-spacing: 0.02em;
  --tablet-hero-caption-font-size: 16px;
--tablet-hero-caption-line-height: 1.5;
  --mobile-hero-caption-font-size: 14px;
    --mobile-hero-caption-line-height: 1.43;
  --gallery-titel-font-size: 40px;
--gallery-titel-font-weight: 500;
--gallery-titel-line-height: 1.2;
--gallery-letter-spacing: 0em;
--mobil-gallery-titel-font-size: 24px;
--mobil-gallery-titel-line-height: 1.17;
--gallery-card-titel-font-size: 20px;
--gallery-card-titel-font-weight: 600;
--gallery-card-titel-line-height: 1.2;
--mobile--gallery-card-titel-font-size: 18px;
--mobile--gallery-card-titel-line-height: 1.33;
--gallery-card-text-font-size: 14px;
--gallery-card-text-font-weight: 400;
--gallery-card-text-line-height: 1.29;

}

body {
  font-family: var(--font-family);
}
@media screen and (min-width: 375px) {
  .container {
    width: 375px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
    padding-left: 100px;
    padding-right: 100px;
    outline: 1px solid red;
  }
}
@media screen and (max-width: 374px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}
