.switch-desc {
  display: none;
  width: 64px;
  height: 32px;
  position: relative;
}

@media screen and (min-width: 1280px) {
  .switch-desc {
    display: inline-block;
  }
}

.switch-desc-mobile {
  display: inline-block;
  width: 64px;
  height: 32px;
  position: relative;
}

.is-hidden {
  visibility: hidden;
  pointer-events: none;
  position: absolute;
}

input:checked + .slider-desc {
  background-image: url(../img/dark-slider.png);
  background-size: contain;
  border: 2px solid #7e8fdd;
}

.slider-desc {
  border: 2px solid #fdfdff;
  -webkit-transition: 400ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 400ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #9cdfdf;
  background-image: url(../img/light-slider.png);
  background-size: contain;
  border-radius: 34px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

@media screen and (min-width: 1280px) {
  .slider-desc {
    border: 2px solid #242424;
  }
}

input:checked + .slider-desc:before {
  background-color: #fdfdff;
  background-image: url(../img/dark-circle.png);
  background-size: cover;
  transform: translate(32px);
}

.slider-desc:before {
  content: '';
  height: 24px;
  width: 24px;
  background: url(../img/light-circle.png);
  background-size: cover;
  background-color: white;
  -webkit-transition: 400ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 400ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 50%;
  position: absolute;
  bottom: 2px;
  left: 2px;
}

/**  Dark Theme styles  **/
/*hero*/
body.dark-theme .hero-img-girl-dark-theme {
  display: block;
}
body.dark-theme .hero-img-girl-light-theme {
  display: none;
}
body.dark-theme .main-title {
  color: var(--color-white);
}
body.dark-theme .hero-p {
  color: var(--color-white);
}
body.dark-theme .hero-p-under-picture {
  color: var(--color-white);
}
/***/

/* ********** Interactive ********* */

body.dark-theme .container-slimselect .ss-main {
  background-color: #7e8fdd;
  border-radius: 8px;
}

body.dark-theme .container-slimselect .ss-main:hover,
body.dark-theme .container-slimselect .ss-main:focus {
  background-color: #9cdfdf;
  border-radius: 8px;
}

body.dark-theme .btn-hero-serch .search-icon {
  fill: #fdfdff;
}

body.dark-theme .input-hero-search {
  background-color: transparent;
  background-color: black;
  border: 2px solid #7e8fdd;
  color: #fdfdff33;
}

body.dark-theme .hero-keyboard-btn {
  background-color: #7e8fdd;
  color: #fdfdff;
}
body.dark-theme .hero-keyboard-btn.hero-keyboard-btn-active {
  background-color: #9cdfdf;
}

body.dark-theme .input-hero-search::placeholder {
  color: #fdfdff33;
}

/* ********** /Interactive ********* */

/* ********** No-Cocktails ********* */
body.dark-theme .container-non-photos {
  background-color: black;
}

body.dark-theme .description-no-coctails {
  color: #fdfdff;
}
body.dark-theme .span-no-coctails {
  color: #9cdfdf;
}

/* ********** / No-Cocktails ********* */

body.dark-theme .modal-backdrop {
  background-color: rgb(15, 15, 15, 0.5);
}
body.dark-theme .modal-container {
  background-color: #232330;
}
body.dark-theme .modal-close-svg {
  stroke: #fdfdff;
}
body.dark-theme .cocktail-modal-title,
body.dark-theme .cocktail-modal-subtitle,
body.dark-theme .ingridient-title,
body.dark-theme .ingr-title,
body.dark-theme .cocktail-modal-back-button {
  color: #fdfdff;
}
body.dark-theme .cocktail-modal-back-button {
  background-color: #fdfdff10;
}
body.dark-theme .ingridient-type,
body.dark-theme .ingridient-discription,
body.dark-theme .cocktail-modal-per-cocktail,
body.dark-theme .cocktail-modal-recipe {
  color: #fdfdff50;
}
body.dark-theme .ingidient-dicr-list,
body.dark-theme .cocktail-modal-ingredients {
  color: #fdfdff80;
}

/* ********** Gallery-random ********* */

body.dark-theme .cocktail-card {
  background: #232330;
}

body.dark-theme .gallery-header,
body.dark-theme .cocktail-name,
body.dark-theme .cocktail-description,
body.dark-theme .cocktail-learn-more-btn,
body.dark-theme .page-nav-item,
body.dark-theme .mob-menu-icon,
body.dark-theme .logotype,
body.dark-theme .btn-hed-sub-menu {
  color: var(--color-white);
}

body.dark-theme .cocktail-card:hover,
body.dark-theme .cocktail-card:focus, body.dark-theme .modal-container:hover, body.dark-theme .modal-container:focus {
  box-shadow: 0 0 2px #fff, 0 0 5px #fff, 0 0 21px #9461fd, 0 0 42px #9461fd,
    0 0 82px #4003e6, 0 0 92px #4003e6;
  animation: pulsate-dark 2s infinite alternate;
}

@keyframes pulsate-dark {
  100% {
    box-shadow: 0 0 4px #fff, 0 0 9px #fff, 0 0 19px #9461fd, 0 0 40px #9461fd,
      0 0 80px #4003e6, 0 0 90px #4003e6;
  }

  0% {
    box-shadow: 0 0 2px #fff, 0 0 7px #fff, 0 0 6px #9461fd, 0 0 10px #9461fd,
      0 0 45px #4003e6, 0 0 55px #4003e6;
  }
}

body.dark-theme .glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #232330;
  left: 0;
  top: 0;
  border-radius: 10px;
}
/* ********** / Gallery-random ********* */

body.dark-theme .mob-menu-icon {
  stroke: var(--color-white);
  fill: var(--color-white);
}

/***********background****************/
body.dark-theme{
   background-image: url(/img/backgraund/background-mob-darck.jpg);
  background-size: cover; 
  }
  @media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
  screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 767px),
  screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px) {
  body.dark-theme{
  background-image: url(/img/backgraund/background-mob-darck@2x.jpg);
  }
  }
  @media screen and (min-device-pixel-ratio: 2) and (max-width: 1279px),
  screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1279px),
  screen and (min-resolution: 192dpi) and (max-width: 1279px),
  screen and (min-resolution: 2dppx) and (max-width: 1279px) {
  body.dark-theme{
  background-image: url(/img/backgraund/background-tablet-darck@2x.jpg);
  }
  }
  @media screen and (max-width: 1279px){
    body.dark-theme{
    background-image: url(/img/backgraund/background-tablet-darck.jpg)
  }
  }

  @media screen and (min-width: 1280px) {
  body.dark-theme{
  background-image: url(/img/backgraund/background-descktop-darck.jpg);
  }
  }
  
  @media screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1280px),
  screen and (min-resolution: 192dpi) and (min-width: 1280px),
  screen and (min-resolution: 2dppx) and (min-width: 1280px) {
    body.dark-theme{
  background-image:url(/img/backgraund/background-descktop-darck@2x.jpg);
  }
  }

