.switch-desc {
  display: none;
  width: 64px;
  height: 32px;
  position: relative;
}

@media screen and (min-width: 1280px) {
  .switch-desc {
    display: inline-block;
  }
}

.switch-desc-mobile {
  display: inline-block;
  width: 64px;
  height: 32px;
  position: relative;
}

.is-hidden {
  visibility: hidden;
  pointer-events: none;
  position: absolute;
}

input:checked+.slider-desc {
  background-image: url(../img/pngegg.png);
  background-size: contain;
  border: 2px solid #7e8fdd;
}

.slider-desc {
  border: 2px solid #fdfdff;
  -webkit-transition: 400ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 400ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #9cdfdf;
  background-image: url(../img/pngwing.com.png);
  background-size: contain;
  border-radius: 34px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

@media screen and (min-width: 1280px) {
  .slider-desc {
    border: 2px solid #242424;
  }
}

input:checked+.slider-desc:before {
  background-color: #fdfdff;
  background-image: url(../img/old-fashioned.png);
  background-size: cover;
  transform: translate(32px);
}

.slider-desc:before {
  content: "";
  height: 24px;
  width: 24px;
  background: url(../img/mai-thai.png);
  background-size: cover;
  background-color: white;
  -webkit-transition: 400ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 400ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 50%;
  position: absolute;
  bottom: 2px;
  left: 2px;
}

/**  Dark Theme styles  **/

body.dark-theme {

}