.favorites-cocktail-title{
  margin-top: 80px;
}
.favorites-coctails-container{
  padding-bottom: 80px;
}
.favorite-container-nococktails {
  display: none;
}

.favorite-container-nococktails.active {
  display: block;
  box-sizing: border-box;
  align-items: center;
  width: 244px;
  height: 190px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 138px;
}

.no-coctails-img {
  padding: 20px;
}

@media screen and (min-width: 768px) {
  .favorite-container-nococktails {
    width: 370px;
    height: 297px;
  }
  .favorites-coctails-container{
    padding-bottom: 100px;
  }
}

@media screen and (min-width: 1280px) {
  .container-non-photos {
    margin-bottom: 140px;
  }
}

.description-no-coctails {
  text-align: center;
  color: var(--color-light-theme-black);
  font-size: 18px;
  font-family: var(--font-family);
  font-weight: 400;
  line-height: 24px;
}

.span-no-coctails {
  color: var(--color-blue);
  font-style: var(--hero-titel-span-font-style);
}

.favorite-cocktails-list {
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .favorite-cocktails-list {
    flex-direction: row;
    gap: 32px 16px;
  }
}

@media screen and (min-width: 1280px) {
  .favorite-cocktails-list {
    gap: 44px 24px;
  }
}
