.favorites-ingridients-title{
    margin-top: 80px;
   
}

.fav-ingredients-cocktails-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
       }
.fav-ingr-item {
    padding: 20px;
  
    width: 335px;
    height: 222px;
    border-radius: 20px;
    background-color: rgba(253, 253, 255, 1);
    /*=====*/
    border: 1px solid rgba(126, 143, 221, 1)
    }
    
    .fav-ingridient-title {
    font-size: 18px;
    font-weight: 600;
    line-height: calc(24/18);
    letter-spacing: 0em;
    margin-bottom: 4px;
  
    }
    .fav-ingridient-type{
        text-transform:uppercase;
        font-size: 14px;
    font-weight: 400;
    line-height: calc(18/14);
    letter-spacing: 0em;
    margin-bottom: 14px;
    color:rgba(36, 36, 36, 0.5);
    }
    .fav-ingridient-discription{
    font-size: 14px;
    font-weight: 400;
    line-height: calc(18/14);
    letter-spacing: 0em;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    -ms-line-clamp: 3;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    margin-bottom: 20px;
    }


    /*
    @media screen and (min-width: 768px) {
    .fav-ingredients-cocktails-list {
    row-gap: 16px;
    column-gap: 32px;
    }
    .fav-ingr-item {
    padding: 24px; 
    width: 344px;
    height: 242px;
    border-radius: 20px;
    background: rgba(253, 253, 255, 1);
    }
    .fav-ingridient-title {
    font-size: 18px;
    font-weight: 600;
    line-height: calc(24/18);
    letter-spacing: 0em;
    margin-bottom: 4px;
    }
    .fav-ingridient-type{
    font-size: 14px;
    font-weight: 400;
    line-height: calc(18/14);
    letter-spacing: 0em;
    }
    .fav-ingridient-discription{
    font-size: 14px;
    font-weight: 400;
    line-height: calc(18/14);
    letter-spacing: 0em;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    -ms-line-clamp: 3;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    margin-bottom: 20px;
    }
    }
    @media screen and (min-width: 1280px) {
    .fav-ingredients-cocktails-list {
    row-gap: 16px;
    column-gap: 32px;
    }
    .fav-ingr-item {
    padding: 24px; 
    width: 344px;
    height: 242px;
    border-radius: 20px;
    background: rgba(253, 253, 255, 1);
    }
    .fav-ingridient-title {
    font-size: 18px;
    font-weight: 600;
    line-height: calc(24/18);
    letter-spacing: 0em;
    margin-bottom: 4px;
    }
    .fav-ingridient-type{
    font-size: 14px;
    font-weight: 400;
    line-height: calc(18/14);
    letter-spacing: 0em;
    }
    .fav-ingridient-discription{
    font-size: 14px;
    font-weight: 400;
    line-height: calc(18/14);
    letter-spacing: 0em;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    -ms-line-clamp: 3;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    margin-bottom: 20px;
    }
    }
    */