.favorites-ingredients-title{
    margin-top: 80px;
   
}
.fav-ingredients-cocktails-list {
    margin-top: 40;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
       }
.fav-ingr-item {
    padding: 20px;
    width: 335px;
    height: 222px;
    border-radius: 20px;
    background-color: var(--color-text-white);
    transition: transform 0.4s ease-out;
        }
        .fav-ingr-item:hover,
        .fav-ingr-item:focus {
            transform: translateY(-20px);
            box-shadow: 0 0 2px #fff, 0 0 5px #fff, 0 0 8px #fff, 0 0 15px #0fa,
              0 0 30px rgba(0, 255, 110, 0.718), 0 0 45px rgba(0, 255, 110, 0.718);
            animation: pulsate-light 2s infinite alternate;
          }




        .fav-ingridient-title {
    font-size: 18px;
    font-weight: 600;
    line-height: calc(24/18);
    letter-spacing: 0em;
    margin-bottom: 4px;
    color: var(--color-text-black);
      }
    .fav-ingridient-type{
     text-transform:uppercase;
     font-size: 14px;
    font-weight: 400;
    line-height: calc(18/14);
    letter-spacing: 0em;
    margin-bottom: 14px;
    color:var(--color-text-black-fair);
    }
    .fav-ingridient-discription{
    font-size: 14px;
    font-weight: 400;
    line-height: calc(18/14);
    letter-spacing: 0em;
    color: var(--color-text-black);
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    -ms-line-clamp: 3;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    margin-bottom: 20px;
    }
    .wrap-cont-drink-ingr .page-footer{
        margin-top: 80px;
    }

    @media screen and (min-width: 768px) {
    .fav-ingredients-cocktails-list {
    row-gap: 32px;
    column-gap: 16px;
    }
    .fav-ingr-item {
    padding: 24px; 
    width: 344px;
    height: 242px;
     }
    .fav-ingridient-title {
    font-size: 20px;
    
    line-height: 1.2;
}
.wrap-cont-drink-ingr .page-footer{
    margin-top: 100px;
}
   }
    @media screen and (min-width: 1280px) {
    .fav-ingredients-cocktails-list {
    row-gap: 44px;
    column-gap: 24px;
    }
    }

