.gallery {
  padding-bottom: 80px;
  padding-top: 40px;
}

.gallery-header {
  margin-bottom: 40px;
  color: var(--color-light-theme-black);
  font-size: 24px;
  font-family: var(--font-family), sans-serif;
  font-weight: 500;
  line-height: 1.17;
}

.gallery-list {
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.cocktail-card {
  padding: 14px;
  width: 100%;
  height: 471px;
  border-radius: 20px;
  background: var(--color-white);
  box-shadow: 0px 4px 46px 0px rgba(0, 0, 0, 0.05);
  transition: transform 0.4s ease-out;
}

.cocktail-card:hover,
.cocktail-card:focus {
  transform: translateY(-20px);
  box-shadow: 0 0 2px #fff, 0 0 5px #fff, 0 0 8px #fff, 0 0 15px #0fa,
    0 0 30px rgba(0, 255, 110, 0.718), 0 0 45px rgba(0, 255, 110, 0.718);
  animation: pulsate-light 2s infinite alternate;
}

@keyframes pulsate-light {
  100% {
    box-shadow: 0 0 4px #fff, 0 0 9px #fff, 0 0 10px #fff, 0 0 25px #0fa,
      0 0 45px rgba(0, 255, 110, 0.718), 0 0 55px rgba(0, 255, 110, 0.718);
  }

  0% {
    box-shadow: 0 0 2px #fff, 0 0 7px #fff, 0 0 7px #fff, 0 0 10px #0fa,
      0 0 20px rgba(0, 255, 110, 0.718), 0 0 35px rgba(0, 255, 110, 0.718);
  }
}

.glow-on-hover {
  outline: none;
  position: relative;
  z-index: 0;
}

/* .glow-on-hover:before {
  content: '';
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 5px);
  height: calc(100% + 5px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
} */

.glow-on-hover:before {
  content: '';
  background: linear-gradient(
    45deg,
    #3cff00,
    #11ff00,
    #00ff5e,
    #00ff88,
    #00ffd5,
    #002bff,
    #7a00ff,
    #7b00ff,
    #9000ff
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 9px);
  height: calc(100% + 9px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.glow-on-hover:hover:before,
.glow-on-hover:focus:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--color-white);
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.cocktail-img-wrap {
  margin-bottom: 20px;
  width: 100%;
  height: 257px;
  border-radius: 16px;
  overflow: hidden;
}

.cocktail-img {
  width: 100%;
  height: 100%;
  object-fit: cover;

  transition: transform 0.4s ease-out;
}

.cocktail-card:hover .cocktail-img,
.cocktail-card:focus .cocktail-img {
  transform: scale(1.15);
}

.cocktail-info {
  padding: 0 6px 6px 6px;
}

.cocktail-name {
  margin-bottom: 14px;

  color: var(--color-light-theme-black);
  font-size: 18px;
  font-family: var(--font-family), sans-serif;
  font-weight: 600;
  line-height: 1.33;

  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  -ms-line-clamp: 1;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.cocktail-description {
  margin-bottom: 20px;
  width: 100%;
  height: 54px;

  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  -ms-line-clamp: 3;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;

  color: var(--color-light-theme-black);
  font-family: var(--font-family), sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
}

.cic-btn-wrapper {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
}

.cocktail-learn-more-btn {
  display: block;
  padding: 14px 45px;
  width: 180px;
  height: 48px;
  border-radius: 12px;
  border: 1px solid var(--color-violet);
  background: transparent;
  color: var(--color-light-theme-black);
  font-family: var(--font-family), sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.4;
  letter-spacing: 0.28px;
  text-transform: uppercase;
  text-wrap: nowrap;
  transition: background var(--transition), color var(--transition);
}

.cocktail-learn-more-btn:hover,
.cocktail-learn-more-btn:focus {
  background: var(--color-violet);
  color: var(--color-white);
}

.cocktail-add-fav-btn {
  display: block;
  padding: 16px;
  width: 48px;
  height: 48px;
  border: none;
  border-radius: 12px;
  background: var(--color-violet);
  position: relative;
}

.favorites-btn-icon {
  width: 18px;
  height: 18px;
  fill: none;
  pointer-events: none;
}

.favorites-icon {
  pointer-events: none;
}

.cocktail-add-fav-btn.is-favorite .favorites-btn-icon {
  fill: var(--color-white);
}

.cocktail-add-fav-btn:hover .favorites-btn-icon,
.cocktail-add-fav-btn:focus .favorites-btn-icon {
  animation: pulse-heart 1.5s infinite;
}

@keyframes pulse-heart {
  0% {
    transform: scale(0.95);
  }

  70% {
    transform: scale(1.3);
  }

  100% {
    transform: scale(0.95);
  }
}

@media screen and (min-width: 375px) {
  .cocktail-card {
    width: 335px;
  }

  .cocktail-img-wrap {
    width: 307px;
  }

  .cocktail-description {
    width: 295px;
  }

  .cic-btn-wrapper {
    gap: 15px;
  }

  .cocktail-learn-more-btn {
    padding: 14px 71px;
    width: 232px;
  }
}

@media screen and (min-width: 768px) {
  .gallery {
    padding-bottom: 100px;
    padding-top: 50px;
  }

  .gallery-header {
    font-size: 40px;
    line-height: 1.2;
  }

  .gallery-list {
    flex-direction: row;
    gap: 32px 16px;
  }

  .cocktail-card {
    width: 344px;
    height: 523px;
  }

  .cocktail-img-wrap {
    margin-bottom: 24px;
    width: 316px;
    height: 289px;
  }

  .cocktail-info {
    padding: 0 10px 10px 10px;
  }

  .cocktail-name {
    font-size: 20px;
    line-height: 1.2;
  }

  .cocktail-description {
    margin-bottom: 24px;
    width: 296px;
  }

  .cic-btn-wrapper {
    gap: 15px;
  }

  .cocktail-learn-more-btn {
    padding: 16px 55px;
    width: 225px;
    height: 56px;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.36px;
  }

  .cocktail-add-fav-btn {
    width: 56px;
    height: 56px;
  }

  .favorites-btn-icon {
    width: 24px;
    height: 24px;
  }
}

@media screen and (min-width: 1280px) {
  .gallery-header {
    margin-bottom: 44px;
  }

  .gallery-list {
    gap: 44px 24px;
  }
}

/* Dark Theme */

/* body.dark-theme .cocktail-card {
  background: #232330;
}

body.dark-theme .gallery-header,
body.dark-theme .cocktail-name,
body.dark-theme .cocktail-description,
body.dark-theme .cocktail-learn-more-btn {
  color: var(--color-white);
}

body.dark-theme .cocktail-card:hover {
  box-shadow: 0 0 2px #fff, 0 0 5px #fff, 0 0 21px #9461fd, 0 0 42px #9461fd,
    0 0 82px #4003e6, 0 0 92px #4003e6;
  animation: pulsate-dark 2s infinite alternate;
}

@keyframes pulsate-dark {
  100% {
    box-shadow: 0 0 4px #fff, 0 0 9px #fff, 0 0 19px #9461fd, 0 0 40px #9461fd,
      0 0 80px #4003e6, 0 0 90px #4003e6;
  }

  0% {
    box-shadow: 0 0 2px #fff, 0 0 7px #fff, 0 0 6px #9461fd, 0 0 10px #9461fd,
      0 0 45px #4003e6, 0 0 55px #4003e6;
  }
} */
