
.button-on-hero:hover,
.button-on-hero:focus {
  background-color: #6E7FCF;;
}
.container.hero-container{
  padding-right: 6px;
  padding-left: 15px;
  padding-top: 68px;
} 
.main-title {
  color: var(--color-light-theme-black);
  font-family: var(--font-family);
  font-size: var(--mobile-hero-titel-font-size);
  font-style: normal;
  font-weight: var(--hero-font-weight);
  line-height: var(--mobile-hero-titel-line-height);
  padding-bottom: 18px;
}
.hero-cocktails {
  color: var(--color-violet);
  font-family: var(--font-family);
  font-size: var(--mobile-hero-titel-font-size);
  font-style: var(--hero-titel-span-font-style);
  font-weight: var(--hero-font-weight);
  line-height: var(--mobile-hero-titel-line-height);
}
  .hero-p {
    color: var(--color-light-theme-black);
    font-family: var(--font-family);
    font-size: var(--mobile-hero-caption-font-size);
    font-style: normal;
    font-weight: var(--hero-font-weight);
    line-height: var(--hero-titel-line-height);
    padding-bottom: 36px;
    width: 100%;
    
  }
  .button-on-hero {
    color: var(--color-white);
    font-family: var(--font-family);
    font-size: var(--mobile-hero-caption-font-size);
    font-style: normal;
    font-weight: var(--button-font-weight);
    line-height: var(--hero-titel-line-height); 
    letter-spacing: var(--hero-caption-letter-spacing);
    text-transform: uppercase;
    border-radius: 12px;
    background: var(--color-violet);
    display: flex; 
    padding: 14px 28px;
    border: transparent;
    margin-bottom: 27px;
  }
  .hero-img-girl-light-theme {
    width: 100%;
    position: absolute;
    z-index: 100;
  }
  .hero-img-girl-dark-theme {
    display: none;
    width: 100%;
    position: absolute;
    z-index: 100;
  }
  .hero-p-under-picture {
    color: var(--color-light-theme-black);
    font-family: var(--font-family);
    font-size: var(--mobile-hero-caption-font-size);
    font-style: normal;
    font-weight: var(--hero-font-weight);
    line-height: var(--hero-titel-line-height);
    letter-spacing: var(--hero-caption-letter-spacing);
    text-transform: uppercase;
    padding-bottom: 18px;
    margin-left: auto;
    margin-right: auto;
    width: 173px;
  }
  .picture-hero {
    position: relative;
    width: 100%;
    height: 481px;
    display: flex;
    align-items: flex-end;

  }
  @media screen and (min-width: 375px) {
    .hero-p-under-picture {
    position: absolute;
    bottom: 7px;
    right:  93px;
    width: 173px;
    }   
  }
  .hero-p {
    width: 335px;
    
  }
@media screen and (min-width: 768px) {
  .container.hero-container{
    padding-right: 0;
    padding-left: 32px;
    padding-top: 70px;
  }
  .hero-first {
    width: 384px;
  }
  .button-on-hero {
  font-size: 18px;
  line-height: 24px; 
  border-radius: 12px;
  padding: 22px 44px;
  letter-spacing: var(--hero-caption-letter-spacing);
  }
  .hero-cocktails {
font-size: var(--tablet-hero-titel-font-size);
line-height: var(--hero-titel-line-height);
  }
  .main-title {
font-size: var(--tablet-hero-titel-font-size);
line-height: var(--hero-titel-line-height);
padding-bottom: 28px;
  }
  .hero-p {
font-size: var(--tablet-hero-text-font-size);
line-height: var(--tablet-hero-text-line-height); 
width: 338px;
margin-bottom: 48px;
  }
  .hero-p-under-picture {
bottom: -12px;
font-size: var(--tablet-hero-text-font-size);
line-height: var(--tablet-hero-text-line-height); 
letter-spacing: var(--hero-caption-letter-spacing);
width: 229px;
left: 80px;
  }
   .picture-hero {
   width: 352px;
   height: 593px;
  }
  .hero-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .hero-img-girl-light-theme {
    width: 410px;
    height: 565px;
    right: 0;
    bottom: 20px;
  } 
  .hero-img-girl-dark-theme {
    width: 410px;
    height: 565px;
    right: 0;
    bottom: 20px;
  } 
}
@media screen and (min-width: 1280px) {
.hero-first {
  width: ((100% - 56px)/2);
}
.container.hero-container{
  padding-right: 17px;
  padding-left: 100px;
}
.hero-cocktails {
font-size: var(--hero-titel-font-size);
line-height: var(--hero-titel-line-height);
  }
  .main-title {
font-size: var(--hero-titel-font-size);
line-height: var(--hero-titel-line-height);
width: 555px;
margin-bottom: 28px;
  }
  .hero-p {
font-size: var(--hero-text-font-size);
line-height: var(--hero-text-line-height);
width: 480px;
margin-bottom: 56px;
  }
  .hero-p-under-picture {
   right: 72px;
   bottom: -20px;
font-size: var(--hero-caption-font-size);
line-height: var(--hero-caption-line-height); 
letter-spacing: var( --hero-caption-letter-spacing);
width: 229px;
margin-right: 80px;
  }
  .picture-hero {
    width: 552px;
    height: 672px;
    padding-right: 83px;
    padding-top: 98px;
    width: ((100% - 56px)/2);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  .hero-img-girl-light-theme {
    width: 100%;
    height: 100%;
    right: 0;
    bottom: 0;
  }
  .hero-img-girl-dark-theme {
    width: 100%;
    height: 100%;
    right: 0;
    bottom: 0;
  }
}