.active{
    display: block;
}

.mobile-menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 20px;
}

.mobile-menu-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logotype-menu{
    display: flex;
    font-weight: var(--logo-font-wight);
    font-size: var(--mobile-logo-font-size);
    text-transform: uppercase;
    color: var(--color-white);
    align-items: center;
    gap: 5px;
}

.logo-icon{
    margin-right: auto;
    stroke: var(--color-blue);
    fill: var(--color-blue);
}

.mobile-menu-close-btn{
    background: transparent;
    padding: 0;
}

.close-mob-menu-icon{
    width: 32px;
    height: 32px;
    stroke: var(--color-white);
}

.favorite-mob-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 180px;
}

.mobile-menu-list{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sub{
    display: flex;
    margin-top: 14px;
}

.mob-menu-text{
    font-size: 18px;
    font-weight: 400;
    color: var(--color-white);
}

/* .favorite-menu{
    display: inline-block;
    position: relative;
} */

.btn-opn-sub-menu{
    display: flex;
    align-items: center;
    gap: 4px;
    background: transparent;
    font-size: 18px;
    font-weight: 400;
    color: var(--color-white);
    padding: 0;
}

.mobile-menu-sub-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 18px;
    /* transform: translate(0px, 18px) */
}

.mobile-menu-sub-item:last-child {
    margin-top: 8px;
}

.mobile-menu-sub-link{
    font-size: 14px;
    font-weight: 400;
    color: var(--color-white);
}

.opn-sub-icon{
    stroke: white;
    transform: rotate(0deg);
    transition: transform 250ms ease;
}

.rotate{
    transform: rotate(180deg);
    transition: transform 250ms ease;
}

.is-hidden{
    display: none;
}

@media screen and (min-width: 768px) {
    .mobile-menu{
        padding-top: 24px;
    }

    .logotype-menu {
        font-size: 22px;
    }

    .close-mob-menu-icon {
        width: 40px;
        height: 40px;
    }

    .mob-menu-text {
        font-size: 24px;
    }

    .btn-opn-sub-menu {
        font-size: 24px;
    }
}