.modal-backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgb(21, 21, 21, 0.6);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}
.modal-backdrop.is-open main{
  pointer-events: none;
}
.modal-container {
  position: absolute;
  top: 50%;
  left: 50%;

  background-color: var(--color-darck-white);
  border-radius: 20px;
  padding: 40px 20px;
  width: 335px;
  max-height: 95vh;
  overflow-y: auto;
  transform: translate(-50%, -50%);
}
.modal-container:hover, .modal-container:focus{
 
  box-shadow: 0 0 2px #fff, 0 0 5px #fff, 0 0 8px #fff, 0 0 15px #0fa,
    0 0 30px rgba(0, 255, 110, 0.718), 0 0 45px rgba(0, 255, 110, 0.718);
  animation: pulsate-light 2s infinite alternate;
}

.close-modal {
  position: absolute;
  top: 14px;
  right: 14px;

  background-color: inherit;
  border: none;
  width: 22px;
  height: 22px;
  margin-bottom: 4px;
}
.modal-close-svg {
  stroke: var(--color-light-theme-black);
  pointer-events: none;
}


@media screen and (min-width: 768px) {
  .modal-container {
    width: 600px;
    padding-left: 40px;
    padding-right: 40px;
  }
  .close-modal {
    top: 18px;
    right: 18px;
    width: 24px;
    height: 24px;
  }
  .modal-close-svg {
    width: 24px;
    height: 24px;
  }

  
}
