.container-non-photos {
  display: none;
}

.container-non-photos.active {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  align-items: center;
  width: 244px;
  height: 190px;
  margin-right: auto;
  margin-left: auto;
  outline: 1px solid green;
}

@media screen and (min-width: 768px) {
  .container-non-photos.active {
    width: 370px;
    height: 297px;
  }
}

.description-no-coctails {
  text-align: center;
  color: var(--color-light-theme-black);
  font-size: var(--mobil-gallery-titel-font-size);
  font-family: var(--font-family);
  font-weight: var(--hero-font-weight);
  line-height: var(--mobil-gallery-titel-line-height);
}

.span-no-coctails {
  color: var(--color-blue);
  font-style: var(--hero-titel-span-font-style);
}
