.container-non-photos {
  display: none;
}

.container-non-photos.active {
  display: block;
  box-sizing: border-box;
  align-items: center;
  max-width: 244px;
  height: 190px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 100px;
}

.no-coctails-img {
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .container-non-photos {
    max-width: 370px;
    height: 297px;
  }
  .description-no-coctails {
    max-width: 370px;
  }
}

@media screen and (min-width: 1280px) {
  .container-non-photos {
    margin-bottom: 150px;
  }

  .no-coctails-img {
    margin-bottom: 40px;
  }
}

.description-no-coctails {
  box-sizing: border-box;
  text-align: center;
  color: var(--color-light-theme-black);
  font-size: 18px;
  font-family: var(--font-family);
  font-weight: 400;
  line-height: 24px;
  max-width: 244px;
}

.span-no-coctails {
  color: var(--color-blue);
  font-style: var(--hero-titel-span-font-style);
}
